.commonContainer {
  position: relative;
}

.triggerContainer {
  width: max-content;
}

.triggerContainer:hover {
  cursor: pointer;
}

.dropdownMenuContainer {
  position: absolute;
  z-index: 910;
}

.dropdownMenu {
  width: max-content;
  max-width: 260px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 6px 16px 0 rgba(21, 18, 51, 0.08);
  border-radius: 5px;
}
.aligne_left {
  left: 0;
  bottom: 0;
  transform: translate(0, calc(100% + 5px));
}

.aligne_right {
  right: 0;
  bottom: 0;
  transform: translate(0, calc(100% + 5px));
}

.aligne_left_up {
  left: 0;
  top: 0;
  transform: translate(0, calc(-100% - 5px));
}

.aligne_right_up {
  right: 0;
  top: 0;
  transform: translate(0, calc(-100% - 5px));
}

.menuItem {
  display: block;
  overflow: hidden;
  border-radius: 3px;
}

.menuItem:hover {
  background-color: lightgray;
}

.dropdownOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 900;
}
