body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main {
  box-sizing: border-box;
  padding: 25px 25px;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh * 2);
  margin: 0 auto;
  background-color: rgb(222, 222, 222);
  user-select: none;
}

p {
  margin: 0;
}
